_build/build.config.php
config.core.php
.idea
.settings
nbproject
.project

assets/components/migxgpmhelper/packages/*
!assets/components/migxgpmhelper/packages/.gitignore

cli/vendor
_build/site

_packages/*.*
!_packages/.gitignore
!_packages/*.zip